.container-fluid {
    position: relative;

}

.navbar-brand {
    position: absolute;
    width: 100%;
    text-align: center;
}

.navbar-toggler {
    z-index: 1;
}

.menu-item {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center
}

.main-container {
    padding: 0px 20px 0px 20px;

    margin-bottom: 20px;
}

#header {
    transition: 0.3s all linear;
    position: sticky;
    top: 0;
    z-index: 2;
    background: white;
}

.head-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.icon-group {
    display: flex;
    width: 200px;
}

.icon-group-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

@media only screen and (max-width: 959px) {
    .menu-container-2 {
        display: none;
    }
}

@media only screen and (min-width: 960px) {
    .navbar {
        display: none;
    }

    .menu-container-2 {
        display: flex;
        flex-wrap: wrap;

    }

    .menu-item {
        border: none !important;
        padding: 10px 15px 10px 15px;
        height: 50px;
    }

}

.logo {
    height: 100px;
    width: 150px;
}

<<<<<<< HEAD
.section1-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.bottom_image {
    height: 200px;
    width: 300px;
}
=======
    .bottom_image {
        height:200px;
        width: 300px;
    }
>>>>>>> c7642ccc77d9916149a9ccb3d1d7cee21b177082
