.rightBoard {
    /* justify-content: center; */
    display: flex;
    text-align: center;
    /* padding: 80px; */
}


.left-board {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* padding: 100px; */
}